This is a demo on how to generate tabular datasets using this package.

In [1]:
from recsyslabs.datasetgen.tabular_interactions import TabularData

# Control for the number of users

## Generating Single Interactions

In [2]:
n_users = 10
n_items = 4
items_pmf = [0.1, 0.2, 0.3, 0.4]

tab_data_generator = TabularData(n_users, n_items, items_pmf)
dataset = tab_data_generator.generate_fixed_num_users_single_interaction()
print(type(dataset))
dataset

<class 'recsyslabs.datasetgen.dataset.Dataset'>

   item_id  rating  user_id
0        0       0        0
1        1       0        1
2        3       0        2
3        0      -1        3
4        3      -1        4
5        1      -1        5
6        3       0        6
7        3       0        7
8        3      -1        8
9        3      -1        9

## Generate Multi-interactions with items

In [4]:
n_users = 10
n_items = 4
items_pmf = [0.1, 0.2, 0.3, 0.4]
num_interactions = 3

tab_data_generator = TabularData(n_users, n_items, items_pmf)
dataset = tab_data_generator.generate_fixed_num_users_multi_interaction(
    num_interactions=num_interactions
)
dataset

    item_id  rating  user_id
0         1      -1        0
1         3       0        0
2         3       0        0
3         2      -1        1
4         2      -1        1
5         0       0        1
6         2       0        2
7         2       0        2
8         2      -1        2
9         0      -1        3
10        3      -1        3
11        2      -1        3
12        3      -1        4
13        3      -1        4
14        3      -1        4
15        3      -1        5
16        3      -1        5
17        2       0        5
18        3      -1        6
19        0       0        6
20        1      -1        6
21        2       0        7
22        1       0        7
23        2       0        7
24        3      -1        8
25        3       0        8
26        3       0        8
27        2      -1        9
28        3      -1        9
29        2       0        9